.button {
  display: block;
  width: 225px;
  min-height: 65px;
  padding: 20px 0;

  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #34547A;
}
