.header {
  padding-top: 60px;
  background-color: #EEEFF1;
}

.navigation {
  display: flex;
  padding-left: 435px;
  padding-bottom: 140px;
  align-items: center;
}

.logo {
  margin-right: 398px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 22px;

  list-style: none;
}

.menu a {
  display: block;
  margin-right: 42px;

  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;

  user-select: none;
}

.menu a:hover,
.menu a:focus {
  color: #fb565a;
}

.menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu-current a {
  font-weight: 500;
  color: #34547A;
}

.menu-current a:hover,
.menu-current a:focus {
  color: #000000;
}

