.services {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding-top: 140px;
  padding-left: 520px;
  padding-bottom: 143px;

  background-color: #EEEFF1;
}

.col-left {
  margin-top: 21px;
}

.col-right {
  width: 541px;
  margin-right: 372px;
}

.col-right b {
  display: block;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}

.col-right p {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}
