.services {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 528px;
  margin: 0;
  padding-left: 510px;
  padding-right: 382px;

  border-bottom: 2px solid #eeeeee;

  background-color: #EEEFF1;
}

.col-left {
  width: 360px;
  margin: 0;
  margin-right: 131px;
  padding-top: 21px;
}

.col-right {
  width: 541px;
  margin: 0;
  padding: 0;
}

.col-right b {
  display: block;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}

.col-right p {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}
